table.meniu {
    text-align: left;
    background-color: #F8E9FC;
    border: 3px dashed black;
    margin-left: 0;
}

table.center {
    margin: 0 auto;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    padding: 1px;
    background-color: white;
}

table.backlink {
    margin: 0 auto;
    border-width: 13px;
    border-style: solid;
    border-color: red;
    background-color: cyan;
}

body {
    text-align: center;
}

form.login {
    margin-bottom: 0;
    padding: 12px;
    background-color: #c3fdb8;
    border: 3px dashed grey;
}

input.s1 {
    width: 100%;
    font-size: 13pt;
    text-align: left;
}



