@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

table.meniu {
    text-align: left;
    background-color: #F8E9FC;
    border: 3px dashed black;
    margin-left: 0;
}

table.center {
    margin: 0 auto;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    padding: 1px;
    background-color: white;
}

table.backlink {
    margin: 0 auto;
    border-width: 13px;
    border-style: solid;
    border-color: red;
    background-color: cyan;
}

body {
    text-align: center;
}

form.login {
    margin-bottom: 0;
    padding: 12px;
    background-color: #c3fdb8;
    border: 3px dashed grey;
}

input.s1 {
    width: 100%;
    font-size: 13pt;
    text-align: left;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    width: fit-content;
    /*noinspection CssInvalidPropertyValue*/
    width: -moz-fit-content;
    text-align: center;
}
.info-msg {
    color: #059;
    background-color: #BEF;
    border: 1px solid #059;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
    border : 1px solid #D8000C;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
    border: 1px solid #270;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
    border: 1px solid #9F6000;
}


#myImg {
    /*border-radius: 5px;*/
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 75%;
    max-height: 75%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


